@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Jersey+25&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
    --background-color: #aec9ff;
    --footer-background-color: #7B93C4;
    --main-font: 'Jersey 25', sans-serif;
    --paragraph-font: 'Jost', cursive;
}
img {
    display: block;
    max-width: 100%;
}
body {
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--main-font);
    font-weight: 400;
}
#header {
  #header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 720px) {
      flex-direction: row;
    }
    #header-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      #header-home-icon {
        height: 50px;
        width: 50px;
      }
      #header-title {
        color: #ffffff;
      }
    }
  }
}
#main {
  #top-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    @media (min-width: 720px) {
      flex-direction: row;
    }
    #general-statistics {
    }
    #detailed-statistics {
    }
    #todo-button {
    }
  }
  #devices {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    @media (min-width: 720px) {
      flex-direction: row;
    }
    .device {
      padding: 10px;
      border: 2px solid;
      border-color: #848080;
      .device__remove {
        /*display: flex;*/
        /*align-items: flex-end;*/
        text-align: right;
        .device__remove-icon {
          height: 15px;
        }
      }
      .device__details {
        display: flex;
        flex-direction: column;
        /*  input direction?  */
      }
      .device__power-button{
          background-color: red;
      }
    }

  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-background-color);
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    font-size: 25px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  @media (min-width: 720px) {
    flex-direction: row;
  }
  #electricity-toggle {
      margin: 0 20px;
      #electricity-label{

      }
      .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
      }

      /* Hide default checkbox */
      .switch input {
          opacity: 0;
          width: 0;
          height: 0;
      }

      /* The track */
      .slider {
          position: absolute;
          cursor: pointer;
          background-color: #ccc;
          border-radius: 24px;
          width: 100%;
          height: 100%;
          transition: background-color 0.3s;
      }

      /* The circular slider */
      .slider::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          left: 4px;
          bottom: 2px;
          background-color: white;
          border-radius: 50%;
          transition: transform 0.3s;
      }

      /* Toggled state */
      .switch input:checked+.slider {
          background-color: #4caf50;
      }

      .switch input:checked+.slider::before {
          transform: translateX(26px);
      }
  }
  #water-toggle{
      margin: 0 20px;

  }
}
#add-device-modal {
  margin: 100px;
  border: 2px solid red;

  #add-device-window {
    text-align: center;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    #modal-close-btn {
      text-align: right;
      display: block;
      /*justify-content: center;*/
      /*align-items: flex-end;*/
    }
    #add-device-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form > div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
/*dialog{*/
/*    display: block;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/